.contact {
        min-height: 100vh;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
}


@media (max-width: 1400px) {
    .contact {
        margin-bottom: 70px;
    }
}